<!-- -*- mode: XML -*- -->

<launch>
    <arg name="pure_pursuit" default="false"/>

    <node name="manager" pkg="a4_path_following" type="a4_path_following-path_manager" args="-d $(find a4_path_following)" output="screen" respawn="true"/>
    <node name="velocity" pkg="a4_path_following" type="a4_path_following-velocity_control" args="-d $(find a4_path_following)" output="screen" respawn="true">
        <param name="pure_pursuit" type="bool" value="$(arg pure_pursuit)"/>
    </node>
    <node name="ogmap" pkg="a4_path_following" type="a4_path_following-ogmap_visualiser" args="-d $(find a4_path_following)" output="screen" respawn="true"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find a4_path_following)/rviz/a4.rviz" respawn="true"/>

</launch>

